<div class="wrapper">
    <a class="logo">
        <img src="assets/images/logo.svg">
    </a>
    <ul class="menu">
        <li class="item item_active">Карта решений</li>
        <li class="item">Каталог решений</li>
        <li class="item">Стартапы</li>
        <li class="item">Партнерам</li>
        <li class="item">Задачи для партнеров</li>
        <li class="item">Новости</li>
    </ul>
    <button class="auth">Войти</button>
    <div (click)="isMenu = !isMenu" id="nav-icon1" [class.open]="isMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div *ngIf="isMenu" class="mobile-menu" [@inOutAnimation]="isMenu"></div>
