<div class="wrapper">
    <a class="logo" [routerLink]="'/'">
        <img src="assets/images/logo.svg">
    </a>
    <ul class="menu">
        <li
            *ngFor="let item of menu$ | async"
            class="item"
            [class.item_active]="item.active"
        >
            <a [routerLink]="'/' + item.route">{{item.title}}</a>
        </li>
    </ul>
<!--    <button class="auth">Войти</button>-->

    <div
        class="mobile-menu-btn"
        [class.mobile-menu-btn_open]="isMenu"
        (click)="isMenu = !isMenu"
    >
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div *ngIf="isMenu" class="mobile-menu" @inOutAnimation>
    <div
        *ngFor="let item of menu$ | async"
        class="item"
        (click)="mobileLink(item.route)"
    >{{item.title}}</div>
</div>
