@import "src/styles/media-variables";


// TODO: delete arrows (remake)
.slider {
    --swiper-navigation-size: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    width: 556px;
    height: 315px;
    border: 1px solid #303340;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: $media-m) {
    .slider {
        height: auto;
        width: 100%;
    }
}

//@media (max-width: $media-s) {
//    .slider {
//        --swiper-navigation-size: 24px;
//    }
//}
