<div class="wrapper">
    <div class="content">
        <div class="title">{{title || 'Название продукта'}}</div>
        <div class="circle">
            <svg-icon src="assets/icons/arrow-down-right.svg"></svg-icon>
        </div>
        <ul>
            <li><svg-icon src="assets/icons/rount-function.svg"></svg-icon> Оптимизационное планирование</li>
            <li><svg-icon src="assets/icons/rount-function.svg"></svg-icon> Календарное планирование логистики</li>
            <li><svg-icon src="assets/icons/rount-function.svg"></svg-icon> Оценка эффективности</li>
        </ul>
    </div>
</div>
