<div *ngIf="isRussian" class="text"><strong>Политика в отношении обработки персональных
    данных</strong><br><br>1. Общие положения<br>Настоящая политика обработки персональных данных составлена в
    соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о
    персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности
    персональных данных, предпринимаемые&nbsp;ООО "Цифровая индустриальная платформа"&nbsp;(далее – Оператор).<br>1.1.
    Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека
    и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни,
    личную и семейную тайну.<br>1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее –
    Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта&nbsp;https://ziiotstore.ru.<br><br>2.
    Основные понятия, используемые в Политике<br>2.1. Автоматизированная обработка персональных данных – обработка
    персональных данных с помощью средств вычислительной техники.<br>2.2. Блокирование персональных данных – временное
    прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения
    персональных данных).<br>2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для
    ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу&nbsp;https://ziiotstore.ru.<br>2.4.
    Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и
    обеспечивающих их обработку информационных технологий и технических средств.<br>2.5. Обезличивание персональных
    данных — действия, в результате которых невозможно определить без использования дополнительной информации
    принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.<br>2.6.
    Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с
    использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор,
    запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу
    (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
    данных.<br>2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо,
    самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а
    также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия
    (операции), совершаемые с персональными данными.<br>2.8. Персональные данные – любая информация, относящаяся прямо
    или косвенно к определенному или определяемому Пользователю веб-сайта&nbsp;https://ziiotstore.ru.<br>2.9.
    Персональные данные, разрешенные субъектом персональных данных для распространения, - персональные данные, доступ
    неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку
    персональных данных, разрешенных субъектом персональных данных для распространения в порядке, предусмотренном
    Законом о персональных данных (далее - персональные данные, разрешенные для распространения).<br>2.10. Пользователь
    – любой посетитель веб-сайта&nbsp;https://ziiotstore.ru.<br>2.11. Предоставление персональных данных – действия,
    направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.<br>2.12.
    Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному
    кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в
    том числе обнародование персональных данных в средствах массовой информации, размещение в
    информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным
    способом.<br>2.13. Трансграничная передача персональных данных – передача персональных данных на территорию
    иностранного государства органу власти иностранного государства, иностранному физическому или иностранному
    юридическому лицу.<br>2.14. Уничтожение персональных данных – любые действия, в результате которых персональные
    данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в
    информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.<br><br>3.
    Основные права и обязанности Оператора<br>3.1. Оператор имеет право:<br>– получать от субъекта персональных данных
    достоверные информацию и/или документы, содержащие персональные данные;<br>– в случае отзыва субъектом персональных
    данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без
    согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;<br>–
    самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей,
    предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если
    иное не предусмотрено Законом о персональных данных или другими федеральными законами.<br>3.2. Оператор обязан:<br>–
    предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных
    данных;<br>– организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;<br>–
    отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с
    требованиями Закона о персональных данных;<br>– сообщать в уполномоченный орган по защите прав субъектов
    персональных данных по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого
    запроса;<br>– публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении
    обработки персональных данных;<br>– принимать правовые, организационные и технические меры для защиты персональных
    данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования,
    предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных
    данных;<br>– прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку
    и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;<br>– исполнять
    иные обязанности, предусмотренные Законом о персональных данных.<br><br>4. Основные права и обязанности субъектов
    персональных данных<br>4.1. Субъекты персональных данных имеют право:<br>– получать информацию, касающуюся обработки
    его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются
    субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные,
    относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для
    раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных
    данных;<br>– требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае,
    если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются
    необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;<br>–
    выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров,
    работ и услуг;<br>– на отзыв согласия на обработку персональных данных;<br>– обжаловать в уполномоченный орган по
    защите прав субъектов персональных данных или в судебном порядке неправомерные действия или бездействие Оператора
    при обработке его персональных данных;<br>– на осуществление иных прав, предусмотренных законодательством РФ.<br>4.2.
    Субъекты персональных данных обязаны:<br>– предоставлять Оператору достоверные данные о себе;<br>– сообщать
    Оператору об уточнении (обновлении, изменении) своих персональных данных.<br>4.3. Лица, передавшие Оператору
    недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут
    ответственность в соответствии с законодательством РФ.<br><br>5. Оператор может обрабатывать следующие персональные
    данные Пользователя<br>5.1.&nbsp;Фамилия, имя, отчество.<br>5.2.&nbsp;Электронный адрес.<br>5.3.&nbsp;Номера
    телефонов.<br>5.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов
    «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).<br>5.5.
    Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.<br>5.6. Обработка
    специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов,
    религиозных или философских убеждений, интимной жизни, Оператором не осуществляется.<br>5.7. Обработка персональных
    данных, разрешенных для распространения, из числа специальных категорий персональных данных, указанных в ч. 1 ст. 10
    Закона о персональных данных, допускается, если соблюдаются запреты и условия, предусмотренные ст. 10.1 Закона о
    персональных данных.<br>5.8. Согласие Пользователя на обработку персональных данных, разрешенных для
    распространения, оформляется отдельно от других согласий на обработку его персональных данных. При этом соблюдаются
    условия, предусмотренные, в частности, ст. 10.1 Закона о персональных данных. Требования к содержанию такого
    согласия устанавливаются уполномоченным органом по защите прав субъектов персональных данных.<br>5.8.1 Согласие на
    обработку персональных данных, разрешенных для распространения, Пользователь предоставляет Оператору
    непосредственно.<br>5.8.2 Оператор обязан в срок не позднее трех рабочих дней с момента получения указанного
    согласия Пользователя опубликовать информацию об условиях обработки, о наличии запретов и условий на обработку
    неограниченным кругом лиц персональных данных, разрешенных для распространения.<br>5.8.3 Передача (распространение,
    предоставление, доступ) персональных данных, разрешенных субъектом персональных данных для распространения, должна
    быть прекращена в любое время по требованию субъекта персональных данных. Данное требование должно включать в себя
    фамилию, имя, отчество (при наличии), контактную информацию (номер телефона, адрес электронной почты или почтовый
    адрес) субъекта персональных данных, а также перечень персональных данных, обработка которых подлежит прекращению.
    Указанные в данном требовании персональные данные могут обрабатываться только Оператором, которому оно
    направлено.<br>5.8.4 Согласие на обработку персональных данных, разрешенных для распространения, прекращает свое
    действие с момента поступления Оператору требования, указанного в п. 5.8.3 настоящей Политики в отношении обработки
    персональных данных.<br><br>6. Принципы обработки персональных данных<br>6.1. Обработка персональных данных
    осуществляется на законной и справедливой основе.<br>6.2. Обработка персональных данных ограничивается достижением
    конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с
    целями сбора персональных данных.<br>6.3. Не допускается объединение баз данных, содержащих персональные данные,
    обработка которых осуществляется в целях, несовместимых между собой.<br>6.4. Обработке подлежат только персональные
    данные, которые отвечают целям их обработки.<br>6.5. Содержание и объем обрабатываемых персональных данных
    соответствуют заявленным целям обработки. Не допускается избыточность обрабатываемых персональных данных по
    отношению к заявленным целям их обработки.<br>6.6. При обработке персональных данных обеспечивается точность
    персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки
    персональных данных. Оператор принимает необходимые меры и/или обеспечивает их принятие по удалению или уточнению
    неполных или неточных данных.<br>6.7. Хранение персональных данных осуществляется в форме, позволяющей определить
    субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения
    персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или
    поручителем по которому является субъект персональных данных. Обрабатываемые персональные данные уничтожаются либо
    обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не
    предусмотрено федеральным законом.<br><br>7. Цели обработки персональных данных<br>7.1. Цель обработки персональных
    данных Пользователя:<br>–&nbsp;информирование Пользователя посредством отправки электронных писем;<br>–&nbsp;предоставление
    доступа Пользователю к сервисам, информации и/или материалам, содержащимся на
    веб-сайте&nbsp;https://ziiotstore.ru.<br>7.2. Также Оператор имеет право направлять Пользователю уведомления о новых
    продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от
    получения информационных сообщений, направив Оператору письмо на адрес электронной почты&nbsp;general@idp.zyfra.com&nbsp;с
    пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».<br>7.3. Обезличенные данные
    Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях
    Пользователей на сайте, улучшения качества сайта и его содержания.<br><br>8. Правовые основания обработки
    персональных данных<br>8.1. Правовыми основаниями обработки персональных данных Оператором являются:<br>–&nbsp;Федеральный
    закон "Об информации, информационных технологиях и о защите информации" от 27.07.2006 N 149-ФЗ;<br>– федеральные
    законы, иные нормативно-правовые акты в сфере защиты персональных данных;<br>– согласия Пользователей на обработку
    их персональных данных, на обработку персональных данных, разрешенных для распространения.<br>8.2. Оператор
    обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем
    самостоятельно через специальные формы, расположенные на сайте&nbsp;https://ziiotstore.ru&nbsp;или направленные
    Оператору посредством электронной почты. Заполняя соответствующие формы и/или отправляя свои персональные данные
    Оператору, Пользователь выражает свое согласие с данной Политикой.<br>8.3. Оператор обрабатывает обезличенные данные
    о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie»
    и использование технологии JavaScript).<br>8.4. Субъект персональных данных самостоятельно принимает решение о
    предоставлении его персональных данных и дает согласие свободно, своей волей и в своем интересе.<br><br>9. Условия
    обработки персональных данных<br>9.1. Обработка персональных данных осуществляется с согласия субъекта персональных
    данных на обработку его персональных данных.<br>9.2. Обработка персональных данных необходима для достижения целей,
    предусмотренных международным договором Российской Федерации или законом, для осуществления возложенных
    законодательством Российской Федерации на оператора функций, полномочий и обязанностей.<br>9.3. Обработка
    персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или
    должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном
    производстве.<br>9.4. Обработка персональных данных необходима для исполнения договора, стороной которого либо
    выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения
    договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет
    являться выгодоприобретателем или поручителем.<br>9.5. Обработка персональных данных необходима для осуществления
    прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что
    при этом не нарушаются права и свободы субъекта персональных данных.<br>9.6. Осуществляется обработка персональных
    данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе
    (далее – общедоступные персональные данные).<br>9.7. Осуществляется обработка персональных данных, подлежащих
    опубликованию или обязательному раскрытию в соответствии с федеральным законом.<br><br>10. Порядок сбора, хранения,
    передачи и других видов обработки персональных данных<br>Безопасность персональных данных, которые обрабатываются
    Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения
    в полном объеме требований действующего законодательства в области защиты персональных данных.<br>10.1. Оператор
    обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным
    данным неуполномоченных лиц.<br>10.2. Персональные данные Пользователя никогда, ни при каких условиях не будут
    переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства либо в случае,
    если субъектом персональных данных дано согласие Оператору на передачу данных третьему лицу для исполнения
    обязательств по гражданско-правовому договору.<br>10.3. В случае выявления неточностей в персональных данных,
    Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной
    почты Оператора&nbsp;general@idp.zyfra.com&nbsp;с пометкой «Актуализация персональных данных».<br>10.4. Срок
    обработки персональных данных определяется достижением целей, для которых были собраны персональные данные, если
    иной срок не предусмотрен договором или действующим законодательством.<br>Пользователь может в любой момент отозвать
    свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на
    электронный адрес Оператора&nbsp;general@idp.zyfra.com&nbsp;с пометкой «Отзыв согласия на обработку персональных
    данных».<br>10.5. Вся информация, которая собирается сторонними сервисами, в том числе платежными системами,
    средствами связи и другими поставщиками услуг, хранится и обрабатывается указанными лицами (Операторами) в
    соответствии с их Пользовательским соглашением и Политикой конфиденциальности. Субъект персональных данных и/или
    Пользователь обязан самостоятельно своевременно ознакомиться с указанными документами. Оператор не несет
    ответственность за действия третьих лиц, в том числе указанных в настоящем пункте поставщиков услуг.<br>10.6.
    Установленные субъектом персональных данных запреты на передачу (кроме предоставления доступа), а также на обработку
    или условия обработки (кроме получения доступа) персональных данных, разрешенных для распространения, не действуют в
    случаях обработки персональных данных в государственных, общественных и иных публичных интересах, определенных
    законодательством РФ.<br>10.7. Оператор при обработке персональных данных обеспечивает конфиденциальность
    персональных данных.<br>10.8. Оператор осуществляет хранение персональных данных в форме, позволяющей определить
    субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения
    персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или
    поручителем по которому является субъект персональных данных.<br>10.9. Условием прекращения обработки персональных
    данных может являться достижение целей обработки персональных данных, истечение срока действия согласия субъекта
    персональных данных или отзыв согласия субъектом персональных данных, а также выявление неправомерной обработки
    персональных данных.<br><br>11. Перечень действий, производимых Оператором с полученными персональными данными<br>11.1.
    Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
    извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление
    и уничтожение персональных данных.<br>11.2. Оператор осуществляет автоматизированную обработку персональных данных с
    получением и/или передачей полученной информации по информационно-телекоммуникационным сетям или без
    таковой.<br><br>12. Трансграничная передача персональных данных<br>12.1. Оператор до начала осуществления
    трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию
    которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов
    персональных данных.<br>12.2. Трансграничная передача персональных данных на территории иностранных государств, не
    отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме
    субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной
    которого является субъект персональных данных.<br><br>13. Конфиденциальность персональных данных<br>Оператор и иные
    лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные
    данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.<br><br>14.
    Заключительные положения<br>14.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся
    обработки его персональных данных, обратившись к Оператору с помощью электронной
    почты&nbsp;general@idp.zyfra.com.<br>14.2. В данном документе будут отражены любые изменения политики обработки
    персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.<br>14.3. Актуальная версия
    Политики в свободном доступе расположена в сети Интернет по адресу&nbsp;https://ziiotstore.ru/privacy/.<br><br>
</div>

<div *ngIf="!isRussian" class="text"><strong>Personal Data Processing Policy
    data</strong><br><br>1. General provisions<br>This Personal data processing Policy is compiled in
    accordance with the requirements of Federal Law No. 152-FZ of 27.07.2006 "On Personal Data" (hereinafter referred to as the
    Personal Data Law) and defines the procedure for processing personal data and security measures
    personal data taken by Digital Industrial Platform LLC (hereinafter referred to as the Operator).<br>1.1.
    The operator sets as its most important goal and condition for the implementation of its activities the observance of human rights and freedoms
    and the citizen in the processing of his personal data, including the protection of the rights to privacy,
    personal and family secrets.<br>1.2. This Operator's policy regarding the processing of personal data (hereinafter –
    The Policy) applies to all information that the Operator can obtain about website visitors.https://ziiotstore.ru .<br><br>2.
    The main concepts used in the Policy<br>2.1. Automated processing of personal data – processing
    personal data with the help of computer technology.2.2. Blocking of personal data – temporary
    termination of the processing of personal data (except in cases where processing is necessary to clarify
    personal data).<br>2.3. Website – a set of graphic and informational materials, as well
    as computer programs and databases that ensure their availability on the Internet at the network addresshttps://ziiotstore.ru .<br>2.4.
    Personal data information system is a set of personal data contained in databases
    and information technologies and technical means that ensure their processing.<br>2.5. Depersonalization of personal data
    data — actions as a result of which it is impossible to determine, without using additional information
    , the ownership of personal data to a specific User or other subject of personal data.<br>2.6.
    Processing of personal data – any action (operation) or a set of actions (operations) performed with
    using automation tools or without using such tools with personal data, including the collection of,
    recording, systematization, accumulation, storage, clarification (updating, modification), extraction, use, transfer
    (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data
    data.2.7. Operator – state body, municipal body, legal entity or individual,
    independently or jointly with other persons organizing and (or) processing personal data, and
    also defining the purposes of personal data processing, the composition of personal data to be processed, actions
    (operations) performed with personal data.2.8. Personal data – any information directly related to
    or indirectly to a specific or identifiable User of the websitehttps://ziiotstore.ru 2.9.
    Personal data authorized by the subject of personal data for distribution - personal data, access
    to an unlimited number of persons to which is provided by the subject of personal data by giving consent to processing
    personal data authorized by the subject of personal data for distribution in accordance with the procedure provided
    for by the Law on Personal Data (hereinafter - personal data authorized for distribution).<br>2.10. User
    – any visitor to the websitehttps://ziiotstore.ru .<br>2.11. Provision of personal data – actions,
    aimed at disclosing personal data to a certain person or a certain circle of persons.2.12.
    Dissemination of personal data – any actions aimed at disclosure of personal data to an unspecified
    to a circle of persons (transfer of personal data) or to get acquainted with the personal data of an unlimited number of persons,
    including the publication of personal data in the media, posting in
    information and telecommunication networks or providing access to personal data in any other way
    in a way.2.13. Cross–border transfer of personal data - transfer of personal data to the territory
    a foreign state authority of a foreign state, a foreign individual or a foreign
    to a legal entity.2.14. Destruction of personal data – any actions resulting in personal
    the data is permanently destroyed with the impossibility of further restoration of the content of personal data in
    the personal data information system and (or) the material carriers of personal data are destroyed.<br><br>3.
    Basic rights and obligations of the Operator<br>3.1. The Operator has the right:<br>– receive personal data from the subject
    reliable information and/or documents containing personal data;<br>– in case of revocation of personal data by the subject
    The Operator has the right to continue processing personal data without the consent to the processing of personal data.
    consent of the personal data subject in the presence of the grounds specified in the Law on Personal Data;<br> –
    independently determine the composition and list of measures necessary and sufficient to ensure the fulfillment of obligations
    provided for by the Law on Personal Data and regulatory legal acts adopted in accordance with it, if
    nothing else is provided for by the Law on Personal Data or other federal laws.<br>3.2. The Operator is obliged to:<br>–
    to provide the subject of personal data, at his request, with information concerning the processing of his personal data
    data processing;<br>– organize the processing of personal data in accordance with the procedure established by the current legislation of the Russian Federation;<br>–
    respond to requests and requests of personal data subjects and their legal representatives in accordance with
    the requirements of the Law on Personal Data;<br>– report to the authorized body for the protection of the rights of
    personal data subjects at the request of this the authority shall provide the necessary information within 30 days from the date of receipt of such
    request;<br>– publish or otherwise provide unrestricted access to this Privacy Policy
    processing of personal data;<br> – take legal, organizational and technical measures to protect personal data
    data from unauthorized or accidental access to them, destruction, modification, blocking, copying,
    provision, dissemination of personal data, as well as from other illegal actions in relation to personal data
    data;<br>– stop the transfer (distribution, provision, access) of personal data, stop processing
    and destroy personal data in the manner and cases provided for by the Law on Personal Data;<br>– perform
    other obligations stipulated by the Law on Personal Data.<br><br>4. Basic rights and obligations of
    personal data subjects<br>4.1. Personal data subjects have the right to:<br>– receive information related to processing
    his personal data, except in cases provided for by federal laws. Information is provided
    to the subject of personal data by the Operator in an accessible form, and they should not contain personal data,
    related to other subjects of personal data, except in cases where there are legitimate grounds for
    disclosure of such personal data. The list of information and the procedure for obtaining it is established by the Law on Personal Data
    data;<br>– require the operator to clarify his personal data, block or destroy them in the event of,
    if the personal data are incomplete, outdated, inaccurate, illegally obtained or are not
    necessary for the stated purpose of processing, as well as to take measures provided by law to protect their rights;<br>–
    to put forward a condition of prior consent when processing personal data in order to promote goods on the market,
    works and services;<br>– to withdraw consent to the processing of personal data;<br>– to appeal to the authorized body for
    protection of the rights of personal data subjects or in court unlawful actions or inaction of the Operator
    when processing his personal data;<br>– to exercise other rights provided for by the legislation of the Russian Federation.<br>4.2.
    The subjects of personal data are obliged to:<br>– provide the Operator with reliable data about yourself;<br>– report
    To the Operator about clarifying (updating, changing) their personal data.<br>4.3. Persons who handed over to the Operator
    false information about yourself, or information about another subject of personal data without the consent of the latter, bear
    liability in accordance with the legislation of the Russian Federation.<br><br>5. The operator can process the following personal data
    User data<br>5.1.Last name, first name, patronymic.<br>5.2.&nbsp;Email address.<br>5.3.Numbers
    phones.<br>5.4. The site also collects and processes depersonalized data about visitors (including files
    a "cookie") through the services of Internet statistics (Yandex Metric and Google Analytics and others).<br>5.5.
    The above data, hereinafter referred to in the text of the Policy, are combined by the general concept of Personal Data.<br>5.6. Processing
    special categories of personal data concerning race, nationality, political views,
    religious or philosophical beliefs, intimate life, is not carried out by the Operator.<br>5.7. Processing of personal data
    the data allowed for distribution, from among the special categories of personal data specified in part 1 of Article 10
    The Law on Personal Data is allowed if the prohibitions and conditions provided for in Article 10.1 of the Law on
    Personal Data are observed.<br>5.8. The User's consent to the processing of personal data permitted for
    distribution is issued separately from other consents to the processing of his personal data. At the same time , the following are observed
    conditions stipulated, in particular, by Article 10.1 of the Law on Personal Data. Requirements for the content of such
    consents are established by the authorized body for the protection of the rights of personal data subjects.<br>5.8.1 Consent to
    the User provides the Operator with the processing of personal data authorized for distribution
    directly.<br>5.8.2 The Operator is obliged to within no later than three working days from the date of receipt of the specified
    the User's consent to publish information about the processing conditions, about the presence of prohibitions and conditions for processing
    by an unlimited number of persons of personal data allowed for distribution.<br>5.8.3 Transmission (distribution,
    provision, access) of personal data authorized by the subject of personal data for distribution, must
    may be terminated at any time at the request of the personal data subject. This requirement should include
    last name, first name, patronymic (if any), contact information (phone number, email address or postal address
    address) of the subject of personal data, as well as a list of personal data, the processing of which is subject to termination.
    The personal data specified in this request can only be processed by the Operator to whom it
    is sent.<br>5.8.4 Consent to the processing of personal data authorized for distribution ceases to be valid
    action from the moment the Operator receives the request specified in clause 5.8.3 of this Processing Policy
    personal data.<br><br>6. Principles of personal data processing 6.1. Personal data processing
    it is carried out on a legal and fair basis.6.2. The processing of personal data is limited to the achievement of
    specific, pre-defined and legitimate goals. Processing of personal data incompatible with
    the purposes of collecting personal data.6.3. It is not allowed to combine databases containing personal data,
    the processing of which is carried out for purposes incompatible with each other.6.4. Only personal data are subject to processing
    data that meets the purposes of their processing.6.5. Content and volume of personal data processed
    correspond to the stated processing purposes. Redundancy of the processed personal data is not allowed by
    in relation to the stated purposes of their processing.6.6. When processing personal data, the accuracy is ensured
    personal data, their sufficiency, and, if necessary, relevance in relation to the purposes of processing
    personal data. The Operator takes the necessary measures and/or ensures that they are taken to delete or clarify
    incomplete or inaccurate data.6.7. Personal data is stored in a form that allows you to determine
    the subject of personal data, no longer than the purposes of personal data processing require, unless the period
    of personal data storage is established by federal law, an agreement
    to which the subject of personal data is a party, beneficiary or guarantor. The processed personal data is destroyed or
    are depersonalized upon achievement of the processing goals or in case of loss of the need to achieve these goals, unless otherwise
    provided by federal law.<br><br>7. Purposes of personal data processing<br>7.1. Purpose of personal data processing
    User data:<br>–informing the User by sending emails;<br>–providing
    User's access to the services, information and/or materials contained on
    the websitehttps://ziiotstore.ru .<br>7.2. The Operator also has the right to send notifications to the User about new
    products and services, special offers and various events. The user can always opt out of
    receiving information messages by sending a letter to the Operator to the email addressgeneral@idp.zyfra.com&nbsp ;with
    marked "Refusal of notifications about new products and services and special offers".<br>7.3. Depersonalized data
    Users collected using Internet statistics services are used to collect information about actions
    Users on the site, improving the quality of the site and its content.<br><br>8. Legal grounds for processing
    8.1. The legal grounds for processing personal data by the Operator are:<br>–Federal
    the law "On Information, Information Technologies and Information Protection" dated 27.07.2006 N 149-FZ;<br>– federal
    laws, other regulatory legal acts in the field of personal data protection;<br>– user consent to processing
    their personal data, for the processing of personal data authorized for distribution.<br>8.2. Operator
    processes the User's personal data only if they are filled in and/or sent by the User
    independently through special forms located on the websitehttps://ziiotstore.ru&nbsp ;or directed
    To the operator via e-mail. By filling out the appropriate forms and/or submitting your personal data
    To the Operator, the User expresses his consent to this Policy.8.3. The operator processes depersonalized data
    about the User, if this is allowed in the User's browser settings (the saving of cookies
    and the use of JavaScript technology are enabled).8.4. The subject of personal data independently decides on
    the provision of his personal data and gives consent freely, of his own free will and in his own interest.<br><br>9. Conditions
    personal data processing 9.1. Personal data processing is carried out with the consent of the personal data subject
    data for the processing of his personal data.<br>9.2. The processing of personal data is necessary to achieve the goals,
    provided for by an international treaty of the Russian Federation or by law, for the implementation of the assigned
    the legislation of the Russian Federation on the operator of functions, powers and duties.<br>9.3. Processing
    personal data is necessary for the administration of justice, the execution of a judicial act, an act of another body or
    officials subject to execution in accordance with the legislation of the Russian Federation on enforcement
    proceedings.9.4. The processing of personal data is necessary for the performance of the contract, the party to which either
    the beneficiary or guarantor of which is the subject of personal data, as well as for the conclusion of
    an agreement initiated by the personal data subject or an agreement under which the personal data subject will
    be a beneficiary or guarantor.9.5. Processing of personal data is necessary for the implementation of
    the rights and legitimate interests of the operator or third parties, or to achieve socially significant goals, provided that
    the rights and freedoms of the personal data subject are not violated.<br>9.6. Personal data is processed
    data, access of an unlimited number of persons to which is provided by the subject of personal data or at his request
    (hereinafter referred to as publicly available personal data).9.7. Processing of personal data subject to
    publication or mandatory disclosure in accordance with federal law.<br><br>10. The order of collection, storage,
    transfer and other types of personal data processing<br>Security of personal data that is processed
    By the operator, it is provided by the implementation of legal, organizational and technical measures necessary for the implementation of
    in full compliance with the requirements of the current legislation in the field of personal data protection.<br>10.1. Operator
    ensures the safety of personal data and takes all possible measures to exclude access to personal data.
    according to unauthorized persons.<br>10.2. The User's personal data will never, under any circumstances, be
    transferred to third parties, except in cases related to the implementation of current legislation or in the case of,
    if the subject of personal data has given consent to the Operator to transfer data to a third party for execution
    obligations under a civil contract.<br>10.3. In case of inaccuracies in personal data,
    The User can update them independently by sending a notification to the Operator
    to the Operator's email address.general@idp.zyfra.com&nbsp ;marked "Updating of personal data".<br>10.4. Term
    the processing of personal data is determined by the achievement of the purposes for which personal data was collected, if
    no other term is provided for by the contract or the current legislation.<br>The user can withdraw at any time
    your consent to the processing of personal data by sending the Operator a notification via e-mail to
    The Operator's email addressgeneral@idp.zyfra.com&nbsp ;marked "Withdrawal of consent to the processing of personal data
    data".<br>10.5. All information collected by third-party services, including payment systems,
    by means of communication and other service providers, stored and processed by the specified persons (Operators) in
    accordance with their User Agreement and Privacy Policy. The subject of personal data and/or
    The user is obliged to familiarize himself with the specified documents in a timely manner. The operator does not bear
    responsibility for the actions of third parties, including the service providers specified in this paragraph.<br>10.6.
    Prohibitions established by the subject of personal data on transfer (except for granting access), as well as on processing
    or the conditions of processing (other than obtaining access) of personal data authorized for distribution do not apply in
    cases of processing of personal data in the state, public and other public interests determined by
    the legislation of the Russian Federation.<br>10.7. The Operator ensures confidentiality when processing personal data
    personal data.10.8. The Operator stores personal data in a form that allows to determine
    the subject of personal data, no longer than the purposes of personal data processing require, if the retention period
    personal data is not established by federal law, the contract
    to which the subject of personal data is a party, beneficiary or guarantor.<br>10.9. The condition for termination of processing of personal data
    the purpose of personal data processing may be the achievement of the purposes of personal data processing, the expiration of the consent of
    the personal data subject or the withdrawal of consent by the personal data subject, as well as the identification of illegal processing
    personal data.<br><br>11. List of actions performed by the Operator with the received personal data<br>11.1.
    The operator collects, records, systematizes, accumulates, stores, clarifies (updates, changes),
    extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion
    and the destruction of personal data.11.2. The Operator performs automated processing of personal data with
    receiving and/or transmitting the received information via information and telecommunication networks or without
    such.<br><br>12. Cross-border transfer of personal data<br>12.1. Before the start of
    the cross-border transfer of personal data, the Operator is obliged to make sure that a foreign state, to the territory of
    which is supposed to transfer personal data, provides reliable protection of the rights of
    personal data subjects.12.2. Cross-border transfer of personal data on the territory of foreign states that do not
    meet the above requirements may be carried out only if there is written consent
    the subject of personal data on the cross-border transfer of his personal data and/or the performance of the contract by the party
    which is the subject of personal data.<br><br>13. Confidentiality of personal data<br>Operator and others
    persons who have received access to personal data are obliged not to disclose to third parties and not to distribute personal data.
    data without the consent of the subject of personal data, unless otherwise provided by federal law.<br><br>14.
    Final provisions<br>14.1. The User can receive any clarifications on issues of interest concerning
    processing of his personal data by contacting the Operator via
    e-mailgeneral@idp.zyfra.com .<br>14.2. This document will reflect any changes to the processing policy
    personal data by the Operator. The policy is valid indefinitely until it is replaced by a new version.<br>14.3. Current version
    The policy is freely available on the Internet at &nbsp;https://ziiotstore.ru/en/privacy/.<br><br>
</div>
