<a [href]="link" class="wrapper">
    <div *ngIf="!product.document" class="container">
        <div class="header">
            <div class="icon">
                <img *ngIf="product.icon" [src]="product.icon | imageUrl" />
            </div>
            <div class="title">
                <div *ngIf="!!product.providerName" class="company">{{product.providerName}}</div>
                <h2 style="padding: 0; margin: 0" class="main">{{product.name}}</h2>
            </div>
        </div>
        <div class="content">{{product.description}}</div>
        <div class="footer">
            <ng-container *ngFor="let filter of product.filters">
                <div *ngIf="filter.filterType === 1 || filter.filterType === 2" class="chips">{{filter.name}}</div>
            </ng-container>
        </div>
    </div>

    <div *ngIf="product.document" class="container asutp">
        <svg-icon class="background" src="assets/icons/plant-back.svg"></svg-icon>
        <div class="header">
            <div class="title">
                <h2 style="margin: 0; padding: 0" class="main">{{product.name}}</h2>
            </div>
        </div>
        <div class="content">{{product.description}}</div>
        <div class="button">
            <span *ngIf="isRussian">Скачать каталог</span>
            <span *ngIf="!isRussian">Download catalog</span>
            <svg-icon src="assets/icons/download.svg"></svg-icon>
        </div>
    </div>
</a>
