.app-wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;

    .page-wrapper {
        position: relative;
        flex: 1;
        overflow-y: auto;
    }
}

.hide {
    display: none !important;
}
