.wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-top: 1px solid #272A38;
    background: #13151C;
    color: #777b92;
    font-size: 14px;
    font-weight: 400;

    a {
        cursor: pointer;
        text-decoration: none;
    }
}
