<div class="wrapper">
    <div class="left">
        <span>2022 © ZIIOTSTORE</span>
        <span class="stick">|</span>
        <a href="/policy" target="_blank">Политика обработки персональных данных</a>
    </div>
    <div class="right">
        <a class="tel" href="tel:+74959681654">+7 (495) 968-16-54</a>
        <a class="mail" href="mailto:general@idp.zyfra.com">general@idp.zyfra.com</a>
        <span>г. Санкт-Петербург, ул. Кропоткина, д. 1, лит А</span>
    </div>
</div>
<div class="arrow_wrapper no-selectable" (click)="scrollTop()" #arrowWrapper>
    <div class="arrow">
        <svg width="50" height="50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50" height="50" rx="50" stroke="none"></rect>
            <path d="M14 28L25 18l10 10" stroke="#ffffff" stroke-width="1" fill="none"></path>
        </svg>
    </div>
</div>
