.wrapper {
    display: flex;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-top: 1px solid #272A38;
    background: #13151C;
    font-size: 14px;
    font-weight: 400;

    .left {
        display: flex;
        gap: 20px;
        color: #777b92;
    }

    .right {
        display: flex;
        margin-left: auto;
        color: #D7E2F2;
        gap: 40px;

        .tel {
            color: #D7E2F2;
        }

        .mail {
            color: #0089FF;

        }
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: #777b92;
    }
}

@media (max-width: 1350px) {
    .wrapper {
        display: flex;
        flex-flow: column;
        gap: 20px;

        .right {
            margin: 0;
        }
    }
}

@media (max-width: 790px) {
    .wrapper {
        padding: 20px;
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        padding: 20px;
        font-size: 12px;

        .right, .left {
            flex-flow: column;
            gap: 20px;
        }

        .left .stick {
            display: none;
        }
    }
}
