.wrapper {
    display: flex;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-top: 1px solid #272A38;
    background: #13151C;
    font-size: 14px;
    font-weight: 400;

    .left {
        display: flex;
        gap: 20px;
        color: #777b92;
    }

    .right {
        display: flex;
        margin-left: auto;
        color: #D7E2F2;
        gap: 40px;

        .tel {
            color: #D7E2F2;
        }

        .mail {
            color: #0089FF;

        }
    }

    a {
        cursor: pointer;
        text-decoration: none;
        color: #777b92;
    }
}

@media (max-width: 1350px) {
    .wrapper {
        display: flex;
        flex-flow: column;
        gap: 20px;

        .right {
            margin: 0;
        }
    }
}

@media (max-width: 790px) {
    .wrapper {
        padding: 20px;
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        padding: 20px;
        font-size: 12px;

        .right, .left {
            flex-flow: column;
            gap: 20px;
        }

        .left .stick {
            display: none;
        }
    }
}

.arrow_wrapper {
    display: none;
    opacity: 1;
    position: fixed;
    background: transparent;
    z-index: 99990;
    bottom: 20px;
    right: 40px;

    .arrow {
        cursor: pointer;
        display: inline-block;
        height: 50px;
        width: 50px;
        animation-name: arrow_wrapper__zoom;
        animation-duration: 500ms;
        animation-fill-mode: both;
        background: #303549;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20);
        border-radius: 50%
    }

    .arrow svg rect, .arrow svg path {
        transition: 200ms ease-in
    }

    .arrow:hover {
        background: #1c59ff;
        opacity: 1;
    }

    @keyframes arrow_wrapper__zoom {
        0% {
            opacity: 0;
            transform: scale(.1)
        }

        100% {
            opacity: 1
        }
    }

    @media screen and (max-width: 640px) {
        .arrow {
            transform: scale(.8)
        }
    }
}







