.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .stats {
        font-size: 14px;
        color: #F5F8FD;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 440px;
        height: 40px;
        padding: 0 16px;
        border: 1px solid #50546B;
        box-sizing: border-box;
        border-radius: 2px;
        color: #A1A5B7;

        .icon {
            width: 16px;
            height: 16px;
        }

        input {
            outline: none;
            font-size: 16px;
            width: 100%;
            background: none;
            border: none;
            color: #A1A5B7;

            &::placeholder {
                color: #A1A5B7;
            }
        }
    }
}

.mobile-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .filter-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 32px;
        width: 76px;
        max-width: 76px;
        min-width: 76px;

        background: #20222B;
        border: 1px solid #50546B;
        box-sizing: border-box;
        border-radius: 2px;

        .counter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            font-size: 12px;
            color: #D7E2F2;
            background: #0F62FE;
        }

        svg-icon {
            color: #D7E2F2;
            width: 17px;
            height: 17px;
        }
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-grow: 1;
        height: 32px;
        padding: 0 16px;
        border: 1px solid #50546B;
        box-sizing: border-box;
        border-radius: 2px;
        color: #A1A5B7;

        .icon {
            width: 14px;
            height: 14px;
        }

        input {
            outline: none;
            font-size: 14px;
            width: 100%;
            background: none;
            border: none;
            color: #A1A5B7;

            &::placeholder {
                color: #A1A5B7;
            }
        }
    }
}
