<div *ngIf="!(isMobile$ | async)" class="wrapper">
    <div *ngIf="isRussian" class="stats">
        <span style="color: #777B92;">Найдено: </span>
        <span>{{ filteredCount$ | async }} проект(ов)</span>
    </div>
    <div *ngIf="!isRussian" class="stats">
        <span style="color: #777B92;">Founded: </span>
        <span>{{ filteredCount$ | async }} products</span>
    </div>
    <div class="input-wrapper">
        <input *ngIf="isRussian" [formControl]="search" placeholder="Поиск" />
        <input *ngIf="!isRussian" [formControl]="search" placeholder="Search" />
        <svg-icon class="icon" src="assets/icons/search.svg"></svg-icon>
    </div>
</div>

<div *ngIf="(isMobile$ | async)" class="mobile-wrapper">
    <div class="filter-toggle" (click)="toggleFilter()">
        <svg-icon src="assets/icons/sliders.svg"></svg-icon>
        <div class="counter" *ngIf="filtersCount$ | async"><span>{{filtersCount$ | async}}</span></div>
    </div>
    <div class="input-wrapper">
        <input *ngIf="isRussian" [formControl]="search" placeholder="Поиск" />
        <input *ngIf="!isRussian" [formControl]="search" placeholder="Search" />
        <svg-icon class="icon" src="assets/icons/search.svg"></svg-icon>
    </div>
</div>
