<div *ngIf="!(isMobile$ | async)" class="wrapper" [class.wrapper_all]="type === 'all'" [class.wrapper_active]="isActive">
    <svg-icon class="arrow" src="assets/icons/arrow-double.svg"></svg-icon>
    <div class="content">
        <div *ngIf="isRussian" class="title">{{type === 'all' ? 'Все' : data.name}}</div>
        <div *ngIf="!isRussian" class="title">{{type === 'all' ? 'All' : data.name}}</div>
        <div class="count">[{{type === 'all' ? (allCount$ | async) : data?.count}}]</div>
    </div>
    <div class="icon" *ngIf="type !== 'all'">
        <img [alt]="[data.name]" [src]="imageMap[data.name]" />
    </div>
</div>

<div *ngIf="(isMobile$ | async)" class="mobile-wrapper" [class.mobile-wrapper_active]="isActive">
    <img class="icon" [src]="imageMap[data.name]" />
    <div class="title">{{data.name}}</div>
</div>
