<div class="wrapper">
    <div class="content">
        <div *ngIf="isRussian" class="title">
            Предлагаем и ищем <span style="color: #46FF77;">проверенные<br/>решения</span> для автоматизации<br/>нефтехимической и<br/>нефтеперерабатывающей<br/>промышленности
        </div>
        <div *ngIf="!isRussian" class="title">
            We offer and search <span style="color: #46FF77;">PROVEN<br/> SOLUTIONS</span><br/> for petrochemical and<br/>OIL REFINING industry automation
        </div>
        <div *ngIf="isRussian" class="description"><span style="color: #46FF77;">{{(dataService.products$ | async)?.length}}+ отечественных продуктов</span> для всех<br/>уровней управления предприятием</div>
        <div *ngIf="!isRussian" class="description"><span style="color: #46FF77;">{{(dataService.products$ | async)?.length}}+ domestic products</span> for all<br/>business management levels</div>
        <div class="buttons">
            <button style="display: none" *ngIf="isRussian" (click)="connect.emit('request')">Оставить запрос на решение</button>
            <button style="display: none" *ngIf="!isRussian" (click)="connect.emit('request')">Send your request for solution</button>
            <button style="display: none" *ngIf="isRussian" (click)="connect.emit('set')" class="border-button">Разместить свое решение</button>
            <button style="display: none" *ngIf="!isRussian" (click)="connect.emit('set')" class="border-button">Offer your solution</button>
           <div class="no-selectable" (click)="scrollToCatalog()" style="display: flex; align-items: center; width: 100%; gap: 10px; cursor: pointer"
                [ngStyle]="{'justify-content': (isMobile$ | async) ? 'center' : 'start'}">
                <img alt="В каталог продуктов" [src]="(isMobile$ | async) ? 'assets/icons/arrow-down-mobile.svg' : 'assets/icons/arrow-down.svg'" />
                <div *ngIf="isRussian" style="text-transform: none; font-size: 12px; color: #A1A5B7;">
                    В каталог продуктов
                </div>
               <div *ngIf="!isRussian" style="text-transform: none; font-size: 12px; color: #A1A5B7;">
                   View product catalogue
               </div>
            </div>
        </div>
    </div>
    <div class="levels-wrapper">
        <div class="levels">
            <img alt="SCM" *ngIf="isRussian"
                style="z-index: 5"
                src="assets/images/gantt-levels/scm.png"
            >
            <img alt="SCM" *ngIf="!isRussian"
                 style="z-index: 5"
                 src="assets/images/gantt-levels/en/scm.png"
            >
            <img alt="MES" *ngIf="isRussian"
                style="z-index: 4"
                src="assets/images/gantt-levels/mes.png"
            >
            <img alt="MES" *ngIf="!isRussian"
                 style="z-index: 4"
                 src="assets/images/gantt-levels/en/mes.png"
            >
            <img alt="ZIIoT" *ngIf="isRussian"
                style="z-index: 3"
                class="ziiot"
                src="assets/images/gantt-levels/ziiot.png"
            >
            <img alt="ZIIot" *ngIf="!isRussian"
                 style="z-index: 3"
                 class="ziiot"
                 src="assets/images/gantt-levels/en/ziiot.png"
            >
            <img alt="Pyramid"
                style="z-index: 1"
                class="tower"
                src="assets/images/gantt-levels/green-tower.png"
            >
            <img alt="КИПиА" *ngIf="isRussian"
                style="z-index: 2"
                class="kipia"
                src="assets/images/gantt-levels/kipia.png"
            >
            <img alt="Instrumentation and automation" *ngIf="!isRussian"
                 style="z-index: 2"
                 class="kipia"
                 src="assets/images/gantt-levels/en/kipia.png"
            >
        </div>
    </div>
</div>
