<div class="wrapper">
    <div class="content">
        <div class="title">
            Предлагаем и ищем <span style="color: #46FF77;">проверенные<br/>решения</span> для автоматизации<br/>нефтехимической и<br/>нефтеперерабатывающей<br/>промышленности
        </div>
        <div class="description"><span style="color: #46FF77;">55+ отечественных продуктов</span> для всех<br/>уровней управления предприятием</div>
        <div class="buttons">
            <button (click)="connect.emit('request')">Оставить запрос на решение</button>
            <button (click)="connect.emit('set')" class="border-button">Разместить свое решение</button>
        </div>
    </div>
    <div class="levels-wrapper">
        <div class="levels">
            <img
                style="z-index: 5"
                src="assets/images/gantt-levels/scm.png"
            >
            <img
                style="z-index: 4"
                src="assets/images/gantt-levels/mes.png"
            >
            <img
                style="z-index: 3"
                class="ziiot"
                src="assets/images/gantt-levels/ziiot.png"
            >
            <img
                style="z-index: 1"
                class="tower"
                src="assets/images/gantt-levels/green-tower.png"
            >
            <img
                style="z-index: 2"
                class="kipia"
                src="assets/images/gantt-levels/kipia.png"
            >
        </div>
    </div>
</div>
