@import 'node_modules/swiper/swiper';
@import 'node_modules/swiper/modules/navigation/navigation';
@import 'node_modules/swiper/modules/pagination/pagination';

@font-face {
    font-family: "Awesome";
    src: url("assets/fonts/awesome/awesome-regular.WOFF") format("woff");
    src: url("assets/fonts/awesome/awesome.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Awesome";
    src: url("assets/fonts/awesome/awesome-bold.woff") format("woff");
    src: url("assets/fonts/awesome/awesome.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: "Awesome";

    background: #13151C;
}

html, body {
    overflow-y: hidden;
    height: calc(100vh - calc(100vh - 100%));
}

body {
    position: relative;
}
